USE [master]
GO
/****** Object:  Database [AvailProducts]    Script Date: 9/11/2018 4:16:34 PM ******/
CREATE DATABASE [AvailProducts]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AvailProducts', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\AvailProducts.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AvailProducts_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\AvailProducts_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AvailProducts].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AvailProducts]
GO
/****** Object:  Table [dbo].[AllProducts]    Script Date: 9/11/2018 4:16:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllProducts](
	[Id] [int] NOT NULL,
	[Name] [nchar](10) NOT NULL,
	[Price] [int] NOT NULL,
	[Category] [nchar](10) NOT NULL
) ON [PRIMARY]

GO
USE [master]
GO
